<?xml version="1.0" encoding="utf-8"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="FFBardMusicPlayer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/></startup><userSettings>
        <FFBardMusicPlayer.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="SaveLog" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OpenFFXIV" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OpenBMP" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="HoldNotes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SpeedShift" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="OctaveShift" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ForcedOpen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SongDirectory" serializeAs="String">
                <value>songs/</value>
            </setting>
            <setting name="ForceListen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ListenChannel" serializeAs="String">
                <value>000E</value>
            </setting>
            <setting name="ForcedReady" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LastCharId" serializeAs="String">
                <value />
            </setting>
            <setting name="MidiInputDev" serializeAs="String">
                <value />
            </setting>
            <setting name="SigVersion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PlayHold" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="SigIgnore" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UnequipPause" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="LastLoaded" serializeAs="String">
                <value />
            </setting>
            <setting name="Verbose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalOrchestra" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="PlaylistAutoPlay" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="PlaylistDelay" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="PlayAllTracks" serializeAs="String">
                <value>False</value>
            </setting>
        </FFBardMusicPlayer.Properties.Settings>
    </userSettings>
</configuration>
