name: Publish merge against develop

on:
  push:
    branches: [ develop ]

jobs:

  build:
    runs-on: windows-2022

    env:
      Solution_Name: BardMusicPlayer

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 7.0.x

    - name: Set Version
      run: (Get-Content .\BardMusicPlayer\MainWindow.xaml.cs).Replace('CUSTOM', (git rev-parse --short HEAD)) | Set-Content .\BardMusicPlayer\MainWindow.xaml.cs

    - name: Build with dotnet
      working-directory: .\BardMusicPlayer
      run: dotnet publish /p:Configuration=Release /p:PublishProfile=Publish
      
    - name: What files do we have
      run: Get-ChildItem -Recurse .\BardMusicPlayer\bin
      
    - name: Rename artifact
      run: Move-Item -Path .\BardMusicPlayer\bin\Release\Publish\BardMusicPlayer.exe -Destination (".\BardMusicPlayer-"+(git rev-parse HEAD)+".exe")

    - name: Store artifacts
      uses: actions/upload-artifact@v3
      with:
        name: BardMusicPlayer
        path: .\BardMusicPlayer-*.exe
        if-no-files-found: error
        retention-days: 1

  deploy:
    needs: build
    runs-on: ubuntu-latest
    
    steps:
    
      - name: Checkout Downloads
        uses: actions/checkout@v3
        with:
          repository: BardMusicPlayer/Downloads
          ssh-key: ${{ secrets.DEPLOY_KEY_DOWNLOADS }}
      
      - name: Download artifacts
        uses: actions/download-artifact@v3
        with:
          name: BardMusicPlayer
          path: bmp/2/
      
      - name: Update Directory Listing
        run: |
          echo -e "<br/>- <a href=\"https://dl.bardmusicplayer.com/bmp/2/BardMusicPlayer-${{ github.sha }}.exe\">BMP 2.X-${{ github.sha }}</a> (<a href=\"https://github.com/BardMusicPlayer/BardMusicPlayer/commit/${{ github.sha }}\">ChangeLog</a>) `date`" >> bmp/2/index.html
      
      - name: Commit Downloads
        run: |
          git config --global user.email "doot@bardmusicplayer.com"
          git config --global user.name "Bard Build Bot"
          git add bmp/2/*
          git commit -am"Beta build ${{ github.run_number }} commit ${{ github.sha }}"
          git push origin HEAD
          
      - name: Discord notification
        env:
          DISCORD_WEBHOOK: ${{ secrets.DISCORD_WEBHOOK }}
        uses: Ilshidur/action-discord@0c4b27844ba47cb1c7bee539c8eead5284ce9fa9
        with:
          args: 'A new beta release will be available in 5 minutes at https://dl.bardmusicplayer.com/bmp/2'

